<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <style>
        .table tbody tr td{
            vertical-align: middle;
        }
    </style>
    <title>Yi Yitu</title>
</head>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="yi" viewBox="0 0 496 512">
        <path d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 376c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm0-128c-53.02 0-96 42.98-96 96s42.98 96 96 96c-106.04 0-192-85.96-192-192S141.96 64 248 64c53.02 0 96 42.98 96 96s-42.98 96-96 96zm0-128c-17.67 0-32 14.33-32 32s14.33 32 32 32 32-14.33 32-32-14.33-32-32-32z"/>
    </symbol>

</svg>


<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#yi"/></svg>
                <span class="fs-4">Yi Yitu</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/index" class="nav-link active" aria-current="page">Monitoring project</a></li>
                <li class="nav-item"><a href="/unhandled" class="nav-link">Vulnerability information</a></li>
                {{if eq .msg 0 }}
                    <li class="nav-item"><a href="/record" class="nav-link">Record</a></li>
                {{ else}}
                    <li class="nav-item position-relative">
                        <a href="/record" class="nav-link" aria-current="page">Record</a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{.msg}}+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </li>
                {{ end }}
                <li class="nav-item"><a href="/about" class="nav-link">about</a></li>
            </ul>
        </header>
    </div>

</main>

<body>
<div class="container mt-3">
    <div class="px-3 py-2 mb-3">
        {{template "search.tmpl"}}
    </div>
    <div class="container mt-3">
        <ul class="nav">
            <li class="nav-item col-11">
                <h2 class="list-inline-item">Monitoring project <text class="text-muted">({{ .total }})</text></h2>
            </li>
            <li class="nav-item col">
                <button type="button" data-mdb-ripple-centered="true" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Increase</button>
            </li>
        </ul>
    </div>
    <div class="container mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Project</th>
                <th class="text-center">Url</th>
                <th class="text-center">Language</th>
                <th class="text-center">DBPath</th>
                <th class="text-center">Count</th>
                <th class="text-center">LastScanTime</th>
                <th class="text-center">PushedAt</th>
                <th class="text-center">Progress</th>
            </tr>
            </thead>
            <tbody>
            {{ range $key,$value := .projects }}
                <tr>
                    {{if eq $value.Vul 1}}
                        <td class="text-center text-danger">
                            {{ $value.Project }} <span class="badge bg-primary">{{ $value.Tag }}</span>
                        </td>
                    {{ else}}
                        <td class="text-center ">
                            {{ $value.Project }} <span class="badge bg-primary">{{ $value.Tag }}</span>
                        </td>
                    {{end}}

                    <td class="text-center"><a href="{{ $value.Url }}" target="_blank">{{ $value.Url }} </a></td>
                    {{if eq $value.Language "Go"}}
                        <td class="text-center text-success">{{ $value.Language }}</td>
                    {{else if eq $value.Language "Rust"}}
                        <td class="text-center text-danger">{{ $value.Language }}</td>
                    {{else if eq $value.Language "Java"}}
                        <td class="text-center text-primary">{{ $value.Language }}</td>
                    {{else if eq $value.Language "Python"}}
                        <td class="text-center text-warning">{{ $value.Language }}</td>
                    {{ else}}
                        <td class="text-center text-info">{{ $value.Language }}</td>
                    {{end}}

                    <td class="text-center">{{ $value.DBPath }}</td>

                    {{if ge $value.Count 1}}
                        <td class="text-center text-danger">{{ $value.Count }}</td>
                    {{else}}
                        <td class="text-center text-secondary">{{ $value.Count }}</td>
                    {{end}}

                    <td class="text-center">{{ $value.LastScanTime }}</td>
                    <td class="text-center">{{ $value.PushedAt }}</td>
                    <td class="text-center">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ $value.ProgressBar }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ $value.ProgressBar }}</div>
                        </div>
                    </td>
                </tr>
            {{ else }}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {{ end}}
            </tbody>

        </table>

        {{if gt .paginator.PageNums 1}}
            <ul class="pagination justify-content-center">
                {{if .paginator.HasPrev}}
                    <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkFirst}}">front page</a></li>
                    <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkPrev}}">&lt;Last page</a></li>
                {{else}}
                    <li class="page-item"><a class="page-link">front page</a></li>
                    <li class="page-item"><a class="page-link">&lt;Last page</a></li>
                {{end}}
                {{range $index, $page := .paginator.Pages}}
                    <li{{if $.paginator.IsActive .}} class="page-item active"{{end}}>
                        <a class="page-link" href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                    </li>
                {{end}}
                {{if .paginator.HasNext}}
                    <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkNext}}">Next page&gt;</a></li>
                    <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkLast}}">last page</a></li>
                {{else}}
                    <li class="page-item"><a class="page-link">Next page&gt;</a></li>
                    <li class="page-item"><a class="page-link">last page</a></li>
                {{end}}
            </ul>
        {{end}}
    </div>

</div>

<!-- Modal frame -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal frame head -->
            <div class="modal-header">
                <h4 class="modal-title">Add project</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/addProject">
                <!-- Modulus content -->
                <div class="modal-body">
                        <div class="mb-3 mt-3">
                            <label for="url" class="form-label">Url:</label>
                            <input type="url" class="form-control" id="url" placeholder="Enter url" name="url">
                            <label for="tag" class="form-label">Tag:</label>
                            <input type="text" class="form-control" id="text" placeholder="Enter tag" name="tag">
                        </div>
                </div>
                <!-- Bottom of the modal frame -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">closure</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
{{template "footer.tmpl"}}
</html>
